$md-primary-color: $md-blue-800;
$md-secondary-color: $md-blue-grey-600;

$layout-grid-breakpoints: (
	desktop: $md-grid-desktop-breakpoint,
	tablet: $md-grid-tablet-breakpoint,
	phone: 0px
);
$border-radius: $md-btn-text-border-radius;

$maxWidthContent: 1280px;
